/* Importación de las fuentes del proyecto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Resetear estilos Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

input, textarea {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

html{
    scroll-behavior: smooth; /* Desplazamiento suave */
}

/* Variables globales */



/* Estilos generales */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.guia {
    max-width: 1300px;
    padding: 0 30 px;
}

.sectionbio, .sectionport {
    margin: 30px 0;
    font-family: 'Poppins', 'sans-serif';
}

.sectioncontact {
    font-family: 'Poppins', 'sans-serif';
}

img {
    width: 400px;
    height: 300px;
}

h2 {
    text-align: center;
    margin: 35px 0;
}

/* Estilos por secciones HOME PAGE */
/* Navegación */
#Ger {
    color:rgb(182, 135, 17);
}

.container {
    padding-top: 110px ;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 30px 0;
    font-family:'Ubuntu', 'sans-serif';
    z-index: 900;
    transition: all 0.3s ease;
}

.nav.javascript{
    padding: 15px 0;
    background-color:#000;
}

.nav__marca {
    font-size: 25px;
}

.nav__marca a {
    color: white;
}

.nav__enlaces {
    word-spacing: 3em;
    font-size: 20px;
}

.nav__enlaces a {
    color: white;
    transition: all 0.3s ease;
}

.nav__enlaces a:hover {
    color: rgb(182, 135, 17);
}

/* Botón Barra de Navegación */
.menu-btn{
    display: none;
    color:white;
    font-size: 23px;
    cursor: pointer;
}

/* Home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/web.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    font-family:'Ubuntu', 'sans-serif';
}

.home__texto {
    margin-top: 350px;
    text-align: justify;
}

.text-1{
    font-size: 27px;
}

.text-2{
    font-size: 75px;
    font-weight: 600;
    margin-right: 3px;
}

.text-3{
    font-size: 40px;
    margin: 5px 0;
}

.text-3 span{
    color: #000;
    font-weight: 500;
}

/* Biografía */
.biografia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.biografia__derecha {
    width: 55%;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
}

.biografia__boton {
    width: 200px;
    background-color: rgb(182, 135, 17);
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 20px; 
    font-weight: 800;
    border: 2px solid rgb(182, 135, 17);
    text-align: center;
    transition: all 0.3s ease;
    
}

.biografia__boton:hover {
    color:rgb(182, 135, 17);
    background-color: white;
}

/* Portfolio */
#port {
    width: 100%;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio__tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 350px;
    background-color: rgb(182, 135, 17);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid rgb(182, 135, 17);
}

.portfolio__tarjeta:hover {
    background-color: black;
    transform: scale(1.1);
}

.portfolio__tarjeta:hover i{
    color:white;
}

.portfolio__tarjeta i {
    font-size: 40px;
    color: black;
}

.portfolio__tarjeta h3 {
    padding: 10px;
}

.portfolio__tarjeta p, .portfolio__tarjeta h3 {
    color:white;
    text-align: center;
}

/* Contacto */
#contact {
    width: 100%;
}

.contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form h3 {
    margin-bottom: 15px;
}

form input {
    border: 1px solid lightgrey;
    margin: 5px 0px;
    height: 45px;
    border-radius: 6px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    outline: none;
    width:100%;
}

form div {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

form div input {
    width: 50%;
}

textarea {
    border: 1px solid lightgrey;
    resize: none;
    border-radius: 6px;
    margin: 5px 0px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 10px;
    outline: none;
    width: 100%;
}

form input:focus, textarea:focus {
    border-color: rgb(182, 135, 17);
}

[type="submit"] {
    background-color: rgb(182, 135, 17);
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 20px; 
    font-size: 20px;
    font-weight: 800;
    width: 200px;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(182, 135, 17);
    transition: all 0.3s ease;
    line-height: 10px;
}

[type="submit"]:hover {
    color:rgb(182, 135, 17);
    background-color: white;
}

/* Footer */
.footer {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color:white;
    font-family:'Ubuntu', 'sans-serif';
    margin-top: 80px;
}

.footer__lista {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.footer__lista i {
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
}

.footer__lista i:hover {
    color: rgb(182, 135, 17);
}

/* Estilos para el Botón Scroll */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(182, 135, 17);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
}

.scroll-up-btn:hover{
    filter: brightness(90%);
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
}

/* Estilos por secciones BIOGRAFIA PAGE */
.blog {
    display: flex;
    flex-direction: column;
}

.titulobio {
    text-align: center;
    padding: 15px 0;
    font-family:'Ubuntu', 'sans-serif';
}

.blog section {
    margin: 25px 0px;
}

.blog section:nth-child(even) .biografia{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.blog__derecha {
    width: 65%;
    padding: 0px 50px;
    font-family: 'Poppins', 'sans-serif';
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ancla {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: black;
    padding: 15px 0px;
    font-family:'Ubuntu', 'sans-serif';
    z-index: 999;
}

.ancla .nav__enlaces {
    word-spacing: 0;  
}

/* Estilos por secciones PORTFOLIO PAGE */
.containerflex {
    display: flex;
    justify-content: center;
}
.containergrid {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1120px;
    row-gap: 35px; 
}

.containergrid article i {
    margin: 0 15px;
    font-size: 10rem;
}

.footer__port {
    position: absolute;
    bottom: 0;
}

/* Estilos por secciones CONTACTO PAGE */
.todoOK {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fijo {
    position: absolute;
    bottom: 0;
}


/* Responsive */
@media (max-width: 1280px){
    .menu-btn{
        display: block;
        width: 20px;
        overflow: hidden;
        z-index: 999;
    }

    .move {
        display: flex;
        margin-left: -10px;
        transition: margin 0.5s ease;
    }

    .move i {
        margin: 0 10px;
    }

    .move.active {
        margin-left: -50px;
    }

    .nav__enlaces{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: black;
        text-align: center;
        padding-top: 60px;
        transition: all 0.3s ease;
    }

    .nav__enlaces.active {
        left: 0;
    }
    
    .nav__enlaces a {
        padding: 20px 0;
    }

    .contacto {
        flex-direction: column-reverse;
        align-items: center;
    }

    form h3 {
        text-align: center;
        margin-top: 15px;
    }

    form {
        align-items: center;
        width: 80%;
        padding: 0px 40px;
    }

    iframe {
        width: 950px;
        height: 350px;
    }

}

@media (max-width: 992px){
    .text-1{
        font-size: 19px;
        margin-left: 8px;
    }
    
    .text-2{
        font-size: 55px;
        font-weight: 600;
        margin-left: 20px;
    }
    
    .text-3{
        font-size: 25px;
        margin: 5px 0px 0px 8px;
    }

    .blog__derecha {
        width: 100%;
        text-align: center;
    }

    .biografia__derecha {
        width: 100%;
    }

    .biografia__derecha {
        justify-content: center;
        align-items: center;
    }

    .biografia__derecha p {
        text-align: center;
    }

    iframe {
        width: 500px;
        height: 300px;
    }

    form {
        width: 100%;
    }
}

@media (max-width: 758px){
    .footer__port {
        position: static;
}

}

@media (max-width: 480px){
    img, iframe {
        width: 300px;
        height: 250px;
    }

    .scroll-up-btn {
        display: none;
    }

    .nav__marca {
        font-size: 20px;
    }

    .menu-btn {
        margin-right: 20px;
    }

}